@font-face {
    font-family: "Icons";
    src: url("https://store.dolcegabbana.com/on/demandware.static/Sites-dolcegabbana-Site/-/default/v1512539266272/fonts/dg-desktop-icons.eot?pqibtz");
    src: url("https://store.dolcegabbana.com/on/demandware.static/Sites-dolcegabbana-Site/-/default/v1512539266272/fonts/dg-desktop-icons.eot?pqibtz#iefix") format("embedded-opentype"), url("https://store.dolcegabbana.com/on/demandware.static/Sites-dolcegabbana-Site/-/default/v1512539266272/fonts/dg-desktop-icons.woff?pqibtz") format("woff"), url("https://store.dolcegabbana.com/on/demandware.static/Sites-dolcegabbana-Site/-/default/v1512539266272/fonts/dg-desktop-icons.ttf?pqibtz") format("truetype"), url("https://store.dolcegabbana.com/on/demandware.static/Sites-dolcegabbana-Site/-/default/v1512539266272/fonts/dg-desktop-icons.svg?pqibtz#dg-desktop-icons") format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: "FuturaStd-Medium";
    src: url("https://store.dolcegabbana.com/on/demandware.static/Sites-dolcegabbana-Site/-/default/v1512539266272/fonts/FuturaStd-Medium.eot");
    src: url("https://store.dolcegabbana.com/on/demandware.static/Sites-dolcegabbana-Site/-/default/v1512539266272/fonts/FuturaStd-Medium.eot?#iefix") format("embedded-opentype"), url("https://store.dolcegabbana.com/on/demandware.static/Sites-dolcegabbana-Site/-/default/v1512539266272/fonts/FuturaStd-Medium.woff2") format("woff2"), url("https://store.dolcegabbana.com/on/demandware.static/Sites-dolcegabbana-Site/-/default/v1512539266272/fonts/FuturaStd-Medium.woff") format("woff"), url("https://store.dolcegabbana.com/on/demandware.static/Sites-dolcegabbana-Site/-/default/v1512539266272/fonts/FuturaStd-Medium.ttf") format("truetype"), url("https://store.dolcegabbana.com/on/demandware.static/Sites-dolcegabbana-Site/-/default/v1512539266272/fonts/FuturaStd-Medium.svg#FuturaStd-Medium") format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: "FuturaStd-Heavy";
    src: url("https://store.dolcegabbana.com/on/demandware.static/Sites-dolcegabbana-Site/-/default/v1512539266272/fonts/FuturaStd-Heavy.eot");
    src: url("https://store.dolcegabbana.com/on/demandware.static/Sites-dolcegabbana-Site/-/default/v1512539266272/fonts/FuturaStd-Heavy.eot?#iefix") format("embedded-opentype"), url("https://store.dolcegabbana.com/on/demandware.static/Sites-dolcegabbana-Site/-/default/v1512539266272/fonts/FuturaStd-Heavy.woff2") format("woff2"), url("https://store.dolcegabbana.com/on/demandware.static/Sites-dolcegabbana-Site/-/default/v1512539266272/fonts/FuturaStd-Heavy.woff") format("woff"), url("https://store.dolcegabbana.com/on/demandware.static/Sites-dolcegabbana-Site/-/default/v1512539266272/fonts/FuturaStd-Heavy.ttf") format("truetype"), url("https://store.dolcegabbana.com/on/demandware.static/Sites-dolcegabbana-Site/-/default/v1512539266272/fonts/FuturaStd-Heavy.svg#FuturaStd-Heavy") format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: "SuperiorTitle-Bold";
    src: url("https://store.dolcegabbana.com/on/demandware.static/Sites-dolcegabbana-Site/-/default/v1512539266272/fonts/SuperiorTitle-Bold.eot");
    src: url("https://store.dolcegabbana.com/on/demandware.static/Sites-dolcegabbana-Site/-/default/v1512539266272/fonts/SuperiorTitle-Bold.eot?#iefix") format("embedded-opentype"), url("https://store.dolcegabbana.com/on/demandware.static/Sites-dolcegabbana-Site/-/default/v1512539266272/fonts/SuperiorTitle-Bold.woff2") format("woff2"), url("https://store.dolcegabbana.com/on/demandware.static/Sites-dolcegabbana-Site/-/default/v1512539266272/fonts/SuperiorTitle-Bold.woff") format("woff"), url("https://store.dolcegabbana.com/on/demandware.static/Sites-dolcegabbana-Site/-/default/v1512539266272/fonts/SuperiorTitle-Bold.ttf") format("truetype"), url("https://store.dolcegabbana.com/on/demandware.static/Sites-dolcegabbana-Site/-/default/v1512539266272/fonts/SuperiorTitle-Bold.svg#FuturaStd-Heavy") format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: "AvenirLTStd-Roman";
    src: url("https://store.dolcegabbana.com/on/demandware.static/Sites-dolcegabbana-Site/-/default/v1512539266272/fonts/AvenirLTStd-Roman.eot");
    src: url("https://store.dolcegabbana.com/on/demandware.static/Sites-dolcegabbana-Site/-/default/v1512539266272/fonts/AvenirLTStd-Roman.eot?#iefix") format("embedded-opentype"), url("https://store.dolcegabbana.com/on/demandware.static/Sites-dolcegabbana-Site/-/default/v1512539266272/fonts/AvenirLTStd-Roman.woff2") format("woff2"), url("https://store.dolcegabbana.com/on/demandware.static/Sites-dolcegabbana-Site/-/default/v1512539266272/fonts/AvenirLTStd-Roman.woff") format("woff"), url("https://store.dolcegabbana.com/on/demandware.static/Sites-dolcegabbana-Site/-/default/v1512539266272/fonts/AvenirLTStd-Roman.ttf") format("truetype"), url("https://store.dolcegabbana.com/on/demandware.static/Sites-dolcegabbana-Site/-/default/v1512539266272/fonts/AvenirLTStd-Roman.svg#FuturaStd-Heavy") format("svg");
    font-weight: normal;
    font-style: normal
}